services:

  ubicoders_jazzy_svo:
    container_name: ubicoders_jazzy_svo_cnt
    # build: .
    image: ubicoders/ros2:jazzy_svo
    network_mode: host
    privileged: true
    stdin_open: true # docker run -i
    tty: true # docker run -t
    environment:
      - DISPLAY
      - QT_X11_NO_MITSHM=1
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu, compute, utility, graphics, compat32, video, display ]

    volumes:
      - "/tmp/.X11-unix/:/tmp/.X11-unix/:rw"
      - "$HOME/.Xauthority:/root/.Xauthority:rw"
      - "./robot_ws/:/home/ubuntu/robot_ws/" # Robot workspace
      - /mnt/01D66F5B1654EDA0/euroc:/home/ubuntu/euroc # EuroC dataset
      - /mnt/01D66F5B1654EDA0/KITTI:/home/ubuntu/KITTI # KITTI dataset
